useDynLib(PeakSegJoint)
exportPattern("^[[:alpha:]]+")
import(data.table)
import(PeakError)
import(parallel)
importFrom("grDevices", "dev.off", "png")
importFrom("stats", "mad", "median", "quantile", "sd")
importFrom("utils", "write.table")
import(penaltyLearning)
